#RewriteEngine On
#RewriteBase /LendApp/public/

# No redirigir archivos o carpetas existentes
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo lo demás a index.php
#RewriteRule ^ index.php [L]

# RewriteEngine On
# # Eliminamos el RewriteBase incorrecto o lo dejamos en /
# RewriteBase /

# # No redirigir archivos o carpetas existentes
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# # Redirigir todo lo demás a index.php
# RewriteRule ^ index.php [L,QSA]

RewriteEngine On
RewriteBase /

# --- ESTA ES LA PARTE QUE TE FALTA ---
# Captura el Header Authorization y lo pasa a la variable de entorno de PHP
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
# -------------------------------------

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]