#RewriteEngine On
#RewriteBase /LendApp/public/

# No redirigir archivos o carpetas existentes
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo lo demás a index.php
#RewriteRule ^ index.php [L]

# RewriteEngine On
# # Eliminamos el RewriteBase incorrecto o lo dejamos en /
# RewriteBase /

# # No redirigir archivos o carpetas existentes
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# # Redirigir todo lo demás a index.php
# RewriteRule ^ index.php [L,QSA]

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]